<%= link_to note, class:"note-link", remote: true do %>
  <div class="card">
    <span class="date">
      <%= note.created_at.strftime("%m-%d-%y") %>
    </span>
    <span class="title">
      <%= truncate(note.title, length: 65, :escape => false) %>
    </span>
    <span class="content">
      <%= truncate(decryptor(note.content), length: 130, :escape => false) %>
    </span>
  </div>
<% end %>
