<%= link_to edit_note_path(note), class:"note-link", remote: true do %>
  <div class="card">
    <span class="date">
      <%= note.updated_at.localtime.strftime("%b %e, %l:%M %p") %>
    </span>
    <span class="title">
      <%= truncate(note.title, length: 65, :escape => false) %>
    </span>
    <span class="content">
      <%= truncate(decryptor(note.content), length: 80, :escape => false) %>
    </span>
  </div>
<% end %>
