<%= render 'form', note: @note %>

<div class="actions">
  <%= link_to @note, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
</div>
