<% @sidebar_note = Note.all.order("updated_at DESC").each do |note| %>
  <%= link_to edit_note_path(note), class:"note-link", remote: true do %>
    <div class="card">
      <span class="date">
        <%= note.updated_at.localtime.strftime("%b %e, %l:%M %p") %>
      </span>
      <span class="title">
        <%= truncate(note.title, length: 65, :escape => false) %>
      </span>
      <span class="content">
        <p>
          <% @decrypted_content = decryptor(note.content) %>
          <%= strip_tags(@decrypted_content) %>
        </p>
      </span>
    </div>
  <% end %>
<% end %>
