// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700');
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

textarea::-webkit-resizer {
  display: none;
}

.minimized {
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}

.btn-floating {
   display:block;
   width:56px;
   height:56px;
   line-height:56px;
   border-radius: 50%;
   color: white;
   text-align:center;
   text-decoration:none;
   background: rgba(0, 0, 0, .8);
   box-shadow: 0 0 3px gray;
   font-size:32px;
   box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
 }

 .btn-floating:hover {
   background: rgba(0, 0, 0, 1);
   color: white;
   box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
   -webkit-transition: all .3s ease-out;
   -moz-transition: all .3s ease-out;
   -o-transition: all .3s ease-out;
   -ms-transition: all .3s ease-out;
   transition: all .3s ease-out;
   text-decoration: none;
 }

 .btn-add-new {
   position: absolute;
   bottom: 10px;
   right: 10px;
 }

 .btn-search {
   position: absolute;
   bottom: 72px;
   right: 16px;
   height: 46px;
   width: 46px;
   line-height: 32px;
   background: rgba(0, 0, 0, .5);
   i {
     font-size: 16px;
   }
 }

 .btn-signout {
   position: absolute;
   bottom: 124px;
   right: 16px;
   height: 46px;
   width: 46px;
   line-height: 36px;
   background: rgba(0, 0, 0, .5);
   i {
     font-size: 16px;
   }
 }

 .btn-logo {
   position: absolute;
   bottom: 176px;
   right: 16px;
   height: 46px;
   width: 46px;
   line-height: 36px;
   background: rgba(0, 0, 0, .5);
   span {
     width: 20px;
     height: 20px;
     font-size: 20px;
     line-height: 46px;
   }
 }

 .search {
   background: rgba(0,0,0,.95);
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 9999;
   display: none;
   form {
     margin-left: 20px;
     display: block;
     margin: 0 auto;
     width: 100%;
     margin-left: 40px;
     margin-top: 40px;
   }
   input[type=search] {
     font-family: 'Source Code Pro', monospace;
     border-radius: 0px;
     -webkit-appearance: none;
     border: 0px;
     background-color: rgba(255,255,255,0);
     outline: none;
     color: white;
     padding-left: 20px;
     padding-right: 20px;
     font-size: 56px;
     margin-top: 8px;
     margin-bottom: 8px;
     width: 100%;
     float: left;
     font-weight: 300;
     transition: background-color 0.2s ease;
    //  &:active, &:focus {
    //    background-color: white;
    //    color: black;
    //  }
   }
   .search-btn {
     display: none;
   }
 }

header, footer {
  display: block;
  background-color: #000;
  height: 60px;
  color: #BBBBBB;
  text-transform: uppercase;
  .accounts {
    float: right;
    line-height: 60px;
    text-transform: capitalize;
    font-size: 12px;
    margin-right: 20px;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: #BBBBBB;
    .header-logo {
      margin-left: 20px;
      float: left;
      font-size: 22px;
      line-height: 60px;
    }
    &:hover {
      color: #ffffff;
      .header-logo {
        color: #ffffff;
      }
    }
  }
  h1 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    line-height: 60px;
    margin-left: 10px;
    float: left;
    span {
      font-weight: 400;
    }
  }
  .new-note {
    color: #BBBBBB;
    text-decoration: none;
    float: right;
    text-decoration: none;
    float: right;
    font-size: 20px;
    line-height: 60px;
    margin-left: 10px;
  }
}

.middle {
  background-color: #999;
}

.col-1 {
  background-color: #fff;
  overflow: scroll;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 290px;
  height: 100vh;
  box-shadow: inset -10px 0 40px -7px rgba(0,0,0,0.3);
  &::-webkit-scrollbar {
      width: 0px;
  }
}

.col-2 {
  background-color: #fff;
  padding-left: 330px;
  padding-right: 80px;
  overflow: scroll;
  height: 100vh;
  border-top: 3px solid black;
}

.registration-container {
  display: flex;
  justify-content: center;
  height: 70vh;
}
.registration-item {
  align-self: center;
  padding: 20px 20px 20px 20px;
  width: 275px;
  h2 {
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  a {
    color: #171717;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


@media screen and (max-width: 800px) {
  .middle {
    flex-direction: column;
  }
  .col-1, .col-2, .col-3 {
    flex: 1;
  }
}

@media screen and (max-width: 400px) {

}
